defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
   bind *:80
   stick-table type ip size 200k expire 10s store http_req_rate(10s)
   http-request track-sc0 src
   http-request deny deny_status 429 if { sc_http_req_rate(0) gt 10 }
   default_backend http_back

backend http_back
   balance roundrobin
   server backend1 backend1:80 check
   server backend2 backend2:80 check